Source: python-kombu
Section: python
Priority: extra
Maintainer: Joe Stump <joe@joestump.net>
Build-Depends: cdbs, debhelper (>= 6), python (>= 2.5), python-support, python-setuptools
Standards-Version: 3.8.3
Homepage: https://github.com/ask/kombu

Package: python-kombu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.4), python-anyjson, python-ampqlib
Description: Messaging Framework for Python.
